@font-face {
    font-family: 'Kallem';
    src: url('Kallem.woff2') format('woff2'),
        url('Kallem.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

